@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;1,200&family=Roboto:wght@100;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header, .hero {
    background-color: #1F2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 20px;
}

ul {
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
    padding: 0 8px;
}

a:link,
a:visited,
a:hover,
a:hover,
a:active {
    text-decoration: none;
}

.header h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px;
}

.text {
    width: 50%;
    margin: 36px;
}

p {
    width: 65%;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

.hero h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.header a, .hero p {
    color: #E5E7EB;
    font-size: 18px;
}

img {
    width: 500px;
    height: auto;
}

.img {
    border: 2px solid blue;
    height: 200px;
    width: 200px;
}

.register {
    background-color: #3882f6;
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    width: 100px;
    border-radius: 10px;
    border: none;
    color: whitesmoke;
    transition: all 0.2s;
}

.button {
    padding: 8px 0;
}

button:hover {
    background-color: #116bfc;
    box-shadow: 0 0.7em 0.7em -0.4em black;
    transform: translateY(-0.25em);
    cursor: pointer;
}

/* .container button {
    background-color: #ec96a9;
    font-family: 'Roboto', sans-serif;
    color: rgb(236, 236, 236);
    border: 2px solid rgb(236, 236, 236);
    border-radius: 20px;
    padding: 1em 2em;
    font-size: 20px;
    transition: all 0.2s;
}

.container button:hover {
    background-color: #ec96a9;
    box-shadow: 0 0.7em 0.7em -0.4em #ff5c7f;
    transform: translateY(-0.25em);
    cursor: pointer;
} */