* {
    margin: 0;
    padding: 0;
}

.header, .hero {
    background-color: #1F2937;
    border: 2px solid red;
}

.header h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.hero h2 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.header a, .hero p {
    color: #E5E7EB;
    font-size: 18px;
}

.container {
    background-color: aquamarine;
    height: 250px;
    width: 500px;
}

.img {
    border: 2px solid blue;
    height: 200px;
    width: 200px;
}